export LC_CTYPE=ja_JP.utf-8
export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx

export QT_QPA_PLATFORMTHEME=gtk2
export RIPCORD_STYLE_ENGINE=gtk2

xset b off

terminator &
fcitx &
dropbox &
volumeicon &
redshift-gtk &
psensor &

xss-lock -- $HOME/dotfiles/adhoc/arch-desktop/bin/lock.sh &
dunst &
nitrogen --restore &
compton -cb
