[user]
	email = xorphitus@gmail.com
	name = xorphitus

[core]
	pager = less -r
	editor = emacsclient
	excludesfile = /Users/matsushita_tomoyuki/.gitignore_global
[color]
	ui = auto
[push]
	default = tracking
[merge]
	ff = false
[branch]
	autosetuprebase = always
[pull]
	rebase = true
[alias]
	s = status
	b = branch
	d = diff
	cho = checkout
[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
