[submodule ".emacs.d/elisp/use-package"]
	path = .emacs.d/elisp/use-package
	url = git@github.com:jwiegley/use-package.git
[submodule ".emacs.d/elisp/awesome-tab"]
	path = .emacs.d/elisp/awesome-tab
	url = git@github.com:manateelazycat/awesome-tab.git
