[user]
	email = xorphitus@gmail.com
	name = xorphitus

[core]
	pager = less -r
	editor = emacsclient
[color]
	ui = auto
[push]
	default = tracking
[merge]
	ff = false
[branch]
	autosetuprebase = always
[pull]
	rebase = true
[alias]
	s = status
	b = branch
	d = diff
	cho = checkout
	push-f = push --force-with-lease
[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
[ghq]
	root = ~/.ghq
	root = ~/go/src
