configuration {
	modi: "window,run,drun,system:~/.config/rofi/rofi_system.sh";
	sidebar-mode: true;
	hide-scrollbar: true;
	theme: "/usr/share/rofi/themes/glue_pro_blue.rasi";
	kb-cancel: "Escape";
}
