.cache
.mc-lists.el
.org-id-locations
auto-save-list
elpa
eshell/history
games
ido.last
image-dired
kkcrc
network-security.data
projectile.cache
projectile-bookmarks.eld
recentf
recentf~
request
session.*
tramp
transient
url
var
wget-log*
*.sqlite
bookmarks
el-get
forge-database*
.lsp-session*
