.edbi-ds-history
ac-comphist.dat
anything-c-adaptive-history
auto-save-list
tramp
url
elpa/archives
session.*
inits/*_local.el*
inits/*.elc
image-dired
jabber-history
projectile.cache
projectile-bookmarks.eld
wget-log*
.cask
.mc-lists.el
elisp/rcodetools.el*
ido.last
games
eshell/history
request
recentf

