.cache
auto-save-list
tramp
url
elpa
session.*
inits/*_local.el*
inits/*.elc
image-dired
jabber-history
projectile.cache
projectile-bookmarks.eld
wget-log*
.mc-lists.el
ido.last
games
eshell/history
request
recentf
